html { 
    font-family: sans-serif;
    background-color: #000000;
    color: #FBF462;
}

/* Note: The window is dynamically resized in rust code.*/

h1{
    font-size: 100px;
    margin-top:-20px;
    margin-bottom:-20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p{
    font-size: 30px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.small{
    font-size: 10px;
}