html { 
    font-family: sans-serif;
    background-color: #000000;
    color: #FBF462;
}

/*The window is dynamically resized in rust code.*/

h1{
    font-size: 80px;
    margin: 0px;
}
p{
    font-size: 20px;
    margin: 0px;
}